@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 10px;
  font: inherit;
  vertical-align: baseline;
  margin-block-end: 0;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "PretendardVraible", sans-serif;
}

/* 폰트 크기의 팽창을 방지합니다. */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

html, body {
  margin: 0;
  padding: 0;
}

ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: "Pretendard-Variable", sans-serif;
  font-size: 10px;
  background-color: #0E0F17;
}

#wrap {
  width: 100vw;
  max-width: 700px;
  margin: 0 auto;
  height: 100%;
  background-color: #fff;
}
#wrap .wrap-inner {
  max-width: 700px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.common-tit {
  padding-bottom: 10px;
  font-size: 2rem;
  font-weight: 600;
  color: #26262C;
}

#header {
  max-width: 700px;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #fff;
}
#header .right {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}
#header .right a {
  text-decoration: none;
}
#header .right .login {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0em;
  color: #4C4C57;
}
#header .right .login:hover {
  color: #3578FF;
}
#header .right .alram {
  width: 20px;
  height: 20px;
}

#search {
  padding: 12px 20px;
  background-color: #3578FF;
}
#search .search-container .searh-form {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  width: 100%;
}
#search .search-container .searh-form .search-box {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  padding: 8px 16px;
  border: none;
  border-radius: 24px;
}
#search .search-container .searh-form .search-btn {
  border: none;
  outline: none;
  background-color: inherit;
  cursor: pointer;
}
#search .search-container .searh-form .search-btn i svg path {
  fill: #fff;
}
#search .search-container .searh-form .search-btn:hover {
  background-color: rgba(16, 19, 34, 0.5);
  border-radius: 99px;
}
#search .search-keyword {
  width: 100%;
  max-width: 700px;
  overflow: hidden;
  margin-top: 20px;
}
#search .search-keyword .inner {
  display: flex;
  align-items: center;
}
#search .search-keyword .inner .sech-name {
  width: inherit;
}
#search .search-keyword .inner .sech-name p {
  width: 100%;
  margin-right: 16px;
  font-size: 1.6rem;
  color: #fff;
}
#search .search-keyword .inner .sech-keyword {
  width: 90%;
  overflow-x: scroll;
  white-space: nowrap;
  scrollbar-width: none;
}
#search .search-keyword .inner .sech-keyword ul {
  display: flex;
  gap: 8px;
  list-style: none;
  align-items: center;
}
#search .search-keyword .inner .sech-keyword ul li {
  border-radius: 40px;
  text-align: center;
}
#search .search-keyword .inner .sech-keyword ul li a {
  height: 36px;
  font-size: 1.4rem;
  text-align: center;
  color: #D1D1FF;
}

/*footer*/
#footer {
  max-width: 700px;
  margin: 0 auto; 
  /* margin-top: 60px; */
  padding: 40px 20px;
  box-sizing: border-box;
  background-color: #131314;
}
#footer .foot-util {
  display: flex;
  gap: 16px;
}
#footer .foot-util li a {
  font-size: 13px;
  color: #5e5e5e;
}
#footer .foot-util li a:hover {
  color: #979797;
}
#footer .copy {
  padding: 20px 0;
  font-size: 11px;
  color: #222;
}

/*상단탭*/
#head-tab {
  width: 100%;
  padding: 20px 20px 0;
}
#head-tab .tab-warp {
  display: flex;
  gap: 6px;
}
#head-tab .tab-warp li {
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 60px;
}
#head-tab .tab-warp li a {
  font-size: 14px;
  color: #222;
}
#head-tab .tab-warp li:first-child {
  background-color: #222;
}
#head-tab .tab-warp li:first-child a {
  color: #fff;
}

/*인기좋은작품*/
#popular {
  padding: 24px 20px;
}
#popular .popular-box {
  /*공통타이틀 스타일 최상단에*/
}
#popular .popular-box .popul-list {
  width: 100%;
  height: 100%;
  padding: 10px 0;
}
#popular .popular-box .popul-list li {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 16px 0;
}
#popular .popular-box .popul-list li:last-child {
  margin: 0;
}
#popular .popular-box .popul-list li .num {
  font-size: 1.8rem;
  font-weight: 700;
  color: #3578ff;
}
#popular .popular-box .popul-list li .first {
  color: #3578FF;
}
#popular .popular-box .popul-list li .second {
  color: #FF7B0A;
}
#popular .popular-box .popul-list li .third {
  color: #FFCB01;
}
#popular .popular-box .popul-list li .popul-thumb {
  width: 70px;
  height: 70px;
  margin: 0 12px;
  border-radius: 16px;
  overflow: hidden;
}
#popular .popular-box .popul-list li .popul-thumb img {
  width: 70px;
  height: 70px;
}
#popular .popular-box .popul-list li .popul-flex {
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#popular .popular-box .popul-list li .popul-flex .popular-tit .chip {
  width: 53px;
  height: 20px;
}
#popular .popular-box .popul-list li .popul-flex .popular-tit .chip img {
  width: 100%;
}
#popular .popular-box .popul-list li .popul-flex .popular-tit .pd-name {
  margin-top: 6px;
  font-size: 16px;
  font-weight: 700;
}
#popular .popular-box .popul-list li .popul-flex .popul-move {
  font-size: 14px;
  color: #4C4C57;
  font-weight: 600;
}
#popular .popular-box .popul-list li .popul-flex .popul-move:hover {
  color: #3578FF;
  font-weight: 600;
}

/*실시간인기*/
#new-product {
  padding: 0 20px;
}
#new-product .new-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#new-product .new-title .new-more {
  font-size: 1.4rem;
  color: #3578FF;
}
#new-product .image-slider {
  display: flex;
  overflow-x: auto;
  padding: 10px 0;
}
#new-product .image-slider .image-item {
  position: relative;
  width: 180px;
  height: 240px;
  margin-right: 10px;
  transition: transform 0.3s ease; /* 이미지 확대 효과 */
}
#new-product .image-slider .image-item img {
  width: 180px;
  height: 100%;
  border-radius: 8px;
}
#new-product .image-slider .image-item .new-chip {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 999;
  background-color: #007bff;
  color: white;
  padding: 5px 4px;
  border-radius: 16px;
  font-size: 12px;
  opacity: 1; /* 기본적으로 보이지 않도록 설정 */
  transition: opacity 0.3s ease; /* 칩의 투명도 변화 */
}

/*배너*/
#banner {
  height: auto;
}
#banner .inner {
  height: auto;
  padding: 24px 20px;
}
#banner .banner-wrap {
  height: 64px;
  background-color: #D9D9DE;
  border-radius: 10px;
}
#banner .banner-wrap p {
  font-size: 1.8rem;
  text-align: center;
  line-height: 64px;
}